<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>藥園植物影像分類 🌿</div>
    <p>
      請使用以下植物的圖片：<a href="http://kplant.biodiv.tw/%E5%9C%9F%E5%8D%8A%E5%A4%8F/%E5%9C%9F%E5%8D%8A%E5%A4%8F.htm"><strong>土半夏</strong></a>、<strong>姑婆芋</strong>、<strong>毛忍冬</strong>、<strong>血桐</strong>
      、<strong>賣子木</strong>、<strong>雞蛋花</strong>或<strong>魚腥草</strong>。
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>選擇圖片</button>
      <div class='upload-label'>
        <label id='upload-label'>尚未選取檔案</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>分析</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
